USE [master]
GO
/****** Object:  Database [MedicalHosp]    Script Date: 10/30/2023 9:17:32 AM ******/
CREATE DATABASE [MedicalHosp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedicalHosp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MedicalHosp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MedicalHosp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MedicalHosp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedicalHosp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedicalHosp]
GO
/****** Object:  User [python2]    Script Date: 10/30/2023 9:17:32 AM ******/
CREATE USER [python2] FOR LOGIN [python2] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [python2]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [python2]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [python2]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [python2]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [python2]
GO
ALTER ROLE [db_datareader] ADD MEMBER [python2]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [python2]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [python2]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [python2]
GO
/****** Object:  Table [dbo].[Bed]    Script Date: 10/30/2023 9:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bed](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BedId] [varchar](50) NULL,
	[PatientId] [int] NULL,
	[Status] [bit] NULL,
	[RegisterDate] [date] NULL,
	[ReleaseDate] [date] NULL,
 CONSTRAINT [PK_Bed] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 10/30/2023 9:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[BedId] [int] NULL,
	[RegisterDate] [date] NULL,
	[ReleaseDate] [date] NULL,
	[PatientId] [int] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PtSignal]    Script Date: 10/30/2023 9:17:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PtSignal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[SignalId] [int] NOT NULL,
	[Value] [decimal](18, 1) NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [varchar](5) NOT NULL,
	[AddDate] [date] NOT NULL,
	[AddTime] [varchar](10) NOT NULL,
	[ManuelMi] [int] NULL,
 CONSTRAINT [PK_PtSignal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
